@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}
.place-order-form, .add-to-order{
    margin: 20px;
}
.heading{
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: -50px;
}

.row{
    margin: 20px;
}
.order-id{
    color: #0a53be;
}
.total{
    color: #0f5132;
}
.date{
   text-align: end;
}
.billing{
    margin: 20px 0 0 0;
}