.place-order-form, .add-to-order{
    margin: 20px;
}
.heading{
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: -50px;
}
.billing-table{
    margin: 20px;
    background-color: #f8f9fa;
}
.row{
    margin: 20px;
}
.order-id{
    color: #0a53be;
}
.total{
    color: #0f5132;
}
.date{
   text-align: end;
}